<div class="card mb-2" style="max-width: 48%; margin-right:0.5%; border: solid black 2px">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.Publicacion.Titulo</h5>
                            @ViewBag.Publicacion.Contenido
                            <img src="@ViewBag.Publicacion.Imagen">
                            
                        </div>
                        
                    </div>

                </div>
</div>

            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action='@Url.Action("GuardarComentario", "Home")' method="post" enctype="multipart/form-data">
        
        <input class="form-control" type="hidden" name="IdPost" id="IdPost" value="@ViewBag.IdPost">
        <input class="form-control" type="hidden" name="IdUsuario" id="IdUsuario" value="@ViewBag.IdUsuario">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Contenido" name="Contenido" autocomplete="off" required>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" placeholder="Imagen" name="Imagen">
        </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
      </form>
      </div>
      <div class="modal-footer">
          
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
      </div>
    </div>
  </div>
</div>


<div class="container m-auto" style= "border: solid black 2px">
  <div class="row">
    @foreach (Comentario p in ViewBag.comentarios)
    {
      <div class="card mb-2" style="max-width: 48%; margin-right:0.5%; border: solid black 2px">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <!--<h5 class="card-title">@p.IdUsuario</h5>-->
              
              @if(p.Imagen != "null")
              {
                <p>@p.Contenido</p>
                <img src="/@p.Imagen">
              }
              else
              {
                <p>@p.Contenido</p>                
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>