@{
    ViewData["Title"] = "Posts";
}

<a type="button" class="btn btn-success"
                        href='@Url.Action("CrearPublicacion", "Home", new{ IdCategoria = @ViewBag.IdCategoria, IdUsuario = @ViewBag.IdUsuario} )'>
                            Crear Post
                        </a>

<div class="container m-auto" style= "border: solid black 2px">
    <div class="row">
        @foreach (Post p in ViewBag.Publicaciones)
        {
            <div class="card mb-2" style="max-width: 48%; margin-right:0.5%; border: solid black 2px">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@p.Titulo</h5>
                            
                            
                        </div>
                        <a type="button" class="btn btn-success"
                            href='@Url.Action("VerPublicacion", "Home", new{ IdPost = @p.IdPost, IdUsuario = @ViewBag.IdUsuario} )'>
                                Ver equipo
                            </a>
                    </div>

                </div>

            </div>
        }
    </div>
</div>